@{
    ViewBag.Title = "About";
}

<div class="content contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Contact -->
                <h2>@ViewBag.Title</h2>
                <div class="row">
                    <p>
                        Bitcoin360ex is an ecurrency exchange website. We sell ecurrency such as perfect money, okpay, etc. Theceopay is the biggest ecurrency exchange website.
                    </p>
                  </div>
                </div>
            </div>
        </div>
    </div>
