
@{
    ViewBag.Title = "btc_pay";
}

<h1>Buy Nuts and Bolts</h1>
<div class="blockchain-btn" style="width:auto" data-create-url="create.php?invoice_id=<?php echo $invoice_id; ?>">
    <div class="blockchain stage-begin">
        <img src="pay_now_64.png">
    </div>
    <div class="blockchain stage-loading" style="text-align:center">
        <img src="<?php echo $blockchain_root; ?>Resources/loading-large.gif">
    </div>
    <div class="blockchain stage-ready" style="text-align:center">
        Please send <?php echo $price_in_btc; ?> BTC to <br /> <b>[[address]]</b> <br />
        <div class='qr-code'></div>
    </div>
    <div class="blockchain stage-paid">
        Payment Received <b>[[value]] BTC</b>. Thank You.
    </div>
    <div class="blockchain stage-error">
        <font color="red">[[error]]</font>
    </div>
</div>

