header class="main-header">
    <div class="container">
        <h1 class="page-title">How to buy</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="/">Home</a></li>
            <li class="active">How to buy</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="center-block logig-form">
                <ul>

                    <li>
                        You must register first if you are not registered. Just click on the register icon in the top right corner of this web page and follow the registration instructions.
                    </li>
                    <li>
                        Login to your account.
                    </li>
                    <li>
                        Click buy, fill the form and submit.
                    </li>
                    <li>
                        You will get the payment details including our account number. An invoice with our account number will be sent to your e-mail.
                    </li>
                    <li>
                        Make the payment in the given format. Return to your Bitcoin360ex.com account and click ‘ORDER NOTIFICATION’ where you will fill the form accordingly.
                    </li>
                    <li>
                        Your account will be automatically funded when we get your payment.
                    </li>
                </ul>
          
                <h3> NOTE:</h3>
                <p>
                    If you are buying above $100, you must verify your account with a valid ID card and utility bill showing your name and address.
                    The form of ID accepted is International Passport and Drivers’ License.
                    The utility bill may be your recent bank statement, electricity bill, water bill or any document showing your name and address.
                  
                </p>
         
    </div>
</div>

