
@{
    ViewBag.Title = "Frequently Asked Questions";
}

<!-- ==========================
      CONTACT - START
  =========================== -->
<section class="content-item grey" id="faq">
    <div class="container">
        <h2>Help center</h2>
        <div class="row">
            <div class="col-sm-12">
                <h3>Frequently Asked Questions</h3>
                <div class="panel-group" id="faq-panel">

                    <!-- FAQ 1 - START -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a class="" data-toggle="collapse" data-parent="#faq-panel" href="#faq-1">How do I register?</a></h4>
                        </div>
                        <div id="faq-1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul>

                                    <li>Click on the register button and fill the form with your correct details</li>
                                    <li>An email verification link will be sent to your email</li>
                                    <li>Click on the verification link</li>
                                    <li>You will be redirected to the login page</li>
                                    <li>After login, complete the account settings form</li>
                                    <li>Verify mobile number to enable us transact</li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a class="" data-toggle="collapse" data-parent="#faq-panel" href="#faq-1">How do I buy airtime?</a></h4>
                        </div>
                        <div id="faq-1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul>

                                    <li>From the Homepage</li>
                                    <li>Select country and Mobile Network Operator</li>
                                    <li>Input amount of airtime and email address</li>
                                    <li>Click on Pay Now and send Bitcoin to the displayed wallet address.</li>
                                    <li>Receive Airtime in 5 minutes</li>
                                    

                                </ul>
                            </div>
                        </div>
                    </div>
                  

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a class="" data-toggle="collapse" data-parent="#faq-panel" href="#faq-1">How do I buy Bitcoin?</a></h4>
                        </div>
                        <div id="faq-1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul>

                                    <li>Login to your dashboard</li>
                                    <li>Click on buy order menu from the dashboard</li>
                                    <li>Select buy order and fill the form</li>
                                    <li>Make payment in 15 minutes (Instant Bank transfer)</li>
                                    <li>Upload payment proof by going to buy history and selecting <b>payment completed</b></li>
                                    <li>Receive Bitcoin instantly</li>
                                   

                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a class="" data-toggle="collapse" data-parent="#faq-panel" href="#faq-1">How do I buy Bitcoin?</a></h4>
                        </div>
                        <div id="faq-1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul>

                                    <li>Login to your dashboard</li>
                                    <li>Click on sell order menu from the dashboard</li>
                                    <li>Select buy order and fill the form</li>
                                    <li>Deposit Bitcoin in 15 Minutes</li>
                                    <li>Upload Hash ID proof by going to sell history and selecting <b>payment completed</b></li>
                                    <li>Receive funds instantly</li>


                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- FAQ 1 - END -->
                    <!-- FAQ 2 - START -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#faq-panel" href="#faq-2">How do I get verified?</a></h4>
                        </div>
                        <div id="faq-2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="list-unstyled">

                                    <li>Make sure you are on the account settings page</li>
                                    <li>Click on verify phone number</li>
                                    <li>A code will be sent to your phone</li>
                                    <li>Enter the code and click on verify</li>
                         

                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- FAQ 2 - END -->
                    <!-- FAQ 3 - START -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#faq-panel" href="#faq-3">What is Bitcoin?</a></h4>
                        </div>
                        <div id="faq-3" class="panel-collapse collapse">
                            <div class="panel-body">
                                Bitcoin is a digital currency. Just like the regular fiat currencies, Bitcoin is a medium of exchange and a store of value. Additionally, Bitcoin is much more secure currency powered by the blockchain technology. It is not owned or controlled by any single entity, making it a borderless technology otherwise referred to as a global currency.  Anyone can send any amount of Bitcoin anywhere, anytime, for minimal transaction fees.
                                <br />
                                <br />
                                Bitcoin is stored in digital wallets that users can have almost anywhere — their smartphones, computers, or even storage drives.  Since it does not reveal customers' personal information, it is a uniquely secure payment method which eliminates fraud and chargeback risks <a href="bitcoin360gist.com/what_is_bitcoin">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <!-- FAQ 3 - END -->
                    <!-- FAQ 4 - START -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#faq-panel" href="#faq-4">How do I create a bitcoin wallet?</a></h4>
                        </div>
                        <div id="faq-4" class="panel-collapse collapse">
                            <div class="panel-body">
                                Bitcoin wallet is an electronic bank account, it is free and can be opened within minutes.

                                <ol>
                                    <li>You must have a valid email address</li>
                                    <li>Simply type www.blockchain.info/wallet on your browser (preferably Chrome)</li>
                                    <li>Go to create new wallet</li>
                                    <li>Fill out the short form provided and submit  <br /> Thereafter, a mail will be sent to the email address you provided.</li>
                                    <li>Go To your email and confirm it with by clicking on "verify email".</li>
                                    <li>Step #5 above takes you right back to blockchain login page. Input your password below the Wallet Identifier and get started.</li>
                                </ol>	
                                YES!! You now have a Bitcoin wallet!!!
                            </div>
                        </div>
                    </div>
                    <!-- FAQ 4 - END -->
                    <!-- FAQ 5 - START -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#faq-panel" href="#faq-5"> How long does it take for my account to be funded?</a></h4>
                        </div>
                        <div id="faq-5" class="panel-collapse collapse">
                            <div class="panel-body">
                                Bitcoin360ex is noted for instant cash and Bitcoin funding as the case maybe.

                                Our clients receive their coins almost immediately we get Bank confirmation.

                                Delay in such confirmation is however not within our control as we do not forward Bitcoin prior to confirmation of proof of payment
                            </div>
                        </div>
                    </div>
                    <!-- FAQ 5 - END -->

                </div>
            </div>
           
    </div>
</section>
<!-- ==========================
    CONTACT - END
=========================== -->
 


