@{
    ViewBag.Title = "news";
}

<div class="content faq">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>


                    E-transact no longer accepted

                    Dear Clients,

                    Due to several fraud recorded through the e-transact channel, we hereby inform our customers that all form of payment via e-transact channel will no longer be accepted. Any deposit through such means will be reported to our bank for a refund, We are not responsible for transferring back to your through e-transact channel In case of any delay you may face if you fail to heed to the advice.

                    Thanks

                    <p>
                    PS: Please we DO NOT ACCEPT ATM TRANSFER payment, MOBILE MONEY, PAGA PAYMENT orders. Only Bank deposits is available for Updated accounts while Internet Transfer and bank deposit is allowed on Certified customers only. Payment made through ATM transfer or Mobile Money will not be processed.
                   </p>
                    Thanks
                </p>

            </div>
        </div>
    </div>
</div>


