header class="main-header">
    <div class="container">
        <h1 class="page-title">How to Sell</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="/">Home</a></li>
            <li class="active">How to Sell</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="center-block logig-form">
                <ul>

                    <li>
                        You must register first if you are not registered. Just click on the register icon in the top right corner of this web page and follow the registration instructions.
                    </li>
                    <li>
                        Login to your account.
                    </li>
                    <li>
                        Click sell, fill the form and submit.
                    </li>
                    <li>
                        On the next page you will be redirected to make payment or transfer to any of our account that will be provided to you. 
                    </li>
                    <li>
                        After making your transfer to our account you will receive your payment within 1-24 hours.
                    </li>
                    
                </ul>

                <h3> NOTE:</h3>
                <p>
                    If you are selling above $100, you must verify your account with a valid ID card and utility bill showing your name and address.
                    The form of ID accepted is International Passport and Driver License.
                    Utility bill may be your recent bank statement, electricity bill, water bill or any document showing your name and address.
                    

                </p>
         
    </div>
</div>
