@{
    ViewBag.Title = "Terms and Conditions";
}

<div class="content faq">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>Terms and Conditions</h2>
                <p>
                    The terms and conditions of Service for Bitcoin360 Exchange are as follows.
                </p>
                <h2> General Provisions</h2>
               
                <h3>
                    Note that it is your responsibility to ensure that you are aware of the following terms of service prior to accessing our services, if you do not agree or cannot adhere to any terms set forth, kindly discontinue.

                </h3>

                <p>

                    <ul>

                        <li>
                            Bitcoin360 Exchange is Bitcoin merchant site that is managed by Makmur Investment Limited. The terms, “we”, “us” and “our” refer to Makmur Investment Limited, owner of the website. At such we take responsibility on all information posted and services rendered on this platform.
                        </li>
                        <li>
                            As a Business unit under the remits of Makmur Investment Limited and based in Nigeria, the laws of Nigeria shall apply to all Bitcoin360 Exchange activities.
                        </li>
                        <li>
                            Bitcoin360 Exchange, clients and partners are therefore obliged to these laws as the case maybe. Clients or partners who chose to defaulter will be immediately expelled from the site, without prior notice.


                        </li>
                       
                        <li>
                            As is the case in a dynamic society such as ours, revisions, changes and updates will be effected on this terms and conditions at any time as situation demands and forthwith will remain binding on all users hence it is the user’s responsibility to ensure they have notice of the latest conditions of service prior to engaging in all Bitcoin360 Exchange related activities.
                        </li>
                        <li>
                            By continued engagement with Bitcoin360 Exchange in any manner equates to your acceptance of these terms and conditions.
                            By patronizing the services of Bitcoin360 Exchange you agree that the prices shown in our Bitcoin Calculator are only estimates, bearing in mind that the actual price you will get in buying or selling Bitcoin will be the effective Bitcoin market price.
                        </li>
                      
                        <li>
                            Listed prices are subject to change without notice. We shall not be liable for whatever value your Bitcoin assumes after an order is served, either positive or negative.
                        </li>
                        <li>
                            Our minimum and maximum purchase and/or sale order amounts are subject to change without notice; we reserve the right to deny any transaction on the basis of it not satisfying these thresholds and as well refuse service to anyone for any reason at any time.
                        </li>
                        <li>
                            Considering the electronic nature of the commodity involved, Bitcoin360 Exchange is not liable to the inaccuracy of clients wallet address hence clients are to ensure that correct wallet address are used. 
                        </li>
                        <li>
                            Failure to do so is wholly to the loss of the client and we cannot be held responsible for any loss in consequence of such inaccuracy.
                            As a thoroughbred group, all efforts are geared towards ensuring the validity, reliability and accuracy of all content in this site.
                        </li>
                        <li>
                            Makmur Investment Limited will however not be held responsible for inaccuracies and consequences thereof.
                        </li>
                        <li>
                            All feeds and contents in the site are designed for general information only therefore it is not and should not form the sole basis of decision making; it is subject to change without notice.
                        </li>
                        <li>
                            More timely, accurate and complete information should be sought in the event of any decision making.
                            Client's reliance on any information or material posted here falls within the scope of the users own freewill choices and responsibilities and Makmur Investment Limited cannot be held liable for direct or indirect damages, loss of profit or income, or any other damages towards the user or a third party that may stem from any incorrect, inconsistent or missing information on the website.
                        </li>
                        <li>
                            In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever due to loss of data or profits, arising out of or in connection with the use of this website.
                        </li>
                        <li>
                            Every effort is made to keep the Bitcoin360 Exchange up and running smoothly. However, we take no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.
                        </li>
                        <li>
                            Meanwhile a 24 hours prior notice of shutdown will be broadcasted in the case of planned upgrade and maintenance.
                        </li>
                        <li>
                            Further Questions and enquiry about this Terms of Service should be sent to Admin@Bitcoin360 Exchange
                        </li>
                    </ul>
                    Signed 
                    <br />
                    Makmur Investment Limited 
                  
                </p>

                </div>
            </div>
        </div>
    </div>

